/* Change highlight color */
::selection {
  background: #b1e2d7 /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #b1e2d7 /* Gecko Browsers */
}

#name, h3 {
  font-family: 'Space Mono', monospace
}

p {
  font-family: 'Open Sans', sans-serif
}

a:link, a:visited {
  color:#57ccc8
}

a:hover {
  color: hotpink;
  text-decoration: none
}

a:active {
  color: #27b0b2
}