.container-fluid img{
    width: 398px;
    height: 265px;
}

.row{
    padding: 25px;
    text-align: center;
}

.parallax-2{
  background-image: url("images/parallax/working.png");
  min-height: 460px;
}

.parallax-3{
    background-image: url("images/parallax/garden.png");
    min-height: 400px;
}

figure h2{
    font-size: 25px;
}

figure p{
    padding: 10px;
    text-align: justify;
}

figure a{
    text-decoration: none;
    color: rgba(26, 26, 26, 1);
}

figure a:hover{
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
}
